body{
    margin: 0;
    padding: 0;
}
.content h1 {
    font-size: 62px;
    line-height: 62px;
    font-weight: 400;
    font-family: helvetica;
    color: #0C1855;
}

.content p {
    margin-top: 40px;
    font-family: helvetica;
    line-height: 25.2px;
    font-size: 18px;
    font-weight: 400;
}
.content button {
    border: none;
    /* background: #0E63F4;
    color: white; */
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 30px;
}
#pic {
    width: 100%;
border-radius: 10px 100px 0px;
    height: 571px;
}

.sm-box {
    width: 30px;
    height: 30px;
    background: #DFF6F0;
}
#p1 {
    margin-top: -23px;
    margin-left: 50px;
    font-size: 13px;
}
#p2 span {
    color: #0E63F4;
}
#p3 span {
    color: #0E63F4;
}
#p4 span {
    color: #0E63F4;
}
#p2 {
    margin-top: 24px;
    
font-size: 14px;
}

#p3 {
    font-size: 13px;
}
#p4 {
    font-size: 13px;
    position: absolute;
    top: 99px;
    left: 131px;
}


.content1 h1 {
    font-size: 62px;
    line-height: 62px;
    font-weight: 400;
    font-family: helvetica;
    color: #0C1855;
}
.content1 p {
    margin-top: 40px;
    font-family: helvetica;
    line-height: 25.2px;
    font-size: 18px;
    font-weight: 400;
}
.content1 button {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 15px;
}

.imgWidth {
    width: 100%;
}

.content2 button {
    border: none;
    background: #ECF2FA;
    color: #0E63F4;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 15px;
}


.content3 {
    width: 1100px;
    height: 250px;
    background: #ECF2FA;
margin-top: 80px;
}
.content3 h1 {
    text-align: center;
    color: #0C1855;
    margin-top: 40px;
}
.content3 p {
    text-align: center;
    color: #666666;
}
.content3 button {
    border: none;
    background: #0E63F4;
    color: white; 
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 18px;
    margin-top: 15px;

}
#cont-p {
    margin-top: -10px;
}

.nav-link {
    margin-right: 30px;
}
.first-section {
    margin-top: 90px;
}

.section3 {
    margin-bottom: 100px;
margin-top: 100px;
}
.footer-section {
    margin-top: 80px;
    margin-bottom: 40px;
}
.header-section {
    margin-top: 90px;
}
.brand-style {
    color: #0C1855;
}
.nav-style li a {
    color: #666666;
}
.sign-up {
    background: #ECF2FA;
    color: #0E63F4;
}
.nav-link {
    color: #666666;
}
.view-btn{
 background: #ECF2FA;
    color: #0E63F4;
}

.img-box {
        position: absolute;
        background: white;
        top: 355px;
        left: 125px;
        line-height: 14px;
        border-radius: 8px 0 0 8px;
        padding-left: 21px;
        padding-right: 60px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .imgWidth {
        width: 100%;
    } 
    .colSm2 {
        width: 100%;
        height: 68px;
        background: #C4C4C4;
        margin-bottom: 10px;
    }
    .section2 {
        margin-top: 80px;
    }
    .col-lg-6.content2 h1 {
        font-size: 62px;
        line-height: 62px;
        font-weight: 400;
        font-family: helvetica;
        color: #0C1855;
    }
    .col-lg-6.content2 p {
        margin-top: 40px;
        font-family: helvetica;
        line-height: 25.2px;
        font-size: 18px;
        font-weight: 400;
    }
    .rect1 {
        width: 18px;
        height: 18px;
        background: #2F6EEA;
        opacity: 0.8;
        border-radius: 100px 100px 100px 0px;

    }
    .rect2 {
        width: 18px;
        height: 18px;
        background: #6EDAB8;
        opacity: 0.8;
        border-radius: 100px 100px 100px 0px;
        transform: rotate(-180deg);
    position: absolute;
    top: 27px;
    left: 20px;
     
    }
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding-left: 15px;
}

@media only screen and (min-width: 780px) {
    .img-box {
        position: absolute;
        background: white;
        top: 355px;
        left: 228px;
        line-height: 14px;
        border-radius: 8px 0 0 8px;
        padding-left: 21px;
        padding-right: 60px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
  }

  @media only screen and (min-width: 1040px){
    .img-box {
        position: absolute;
        background: white;
        top: 355px;
        left: 320px;
        line-height: 14px;
        border-radius: 8px 0 0 8px;
        padding-left: 21px;
        padding-right: 60px;
        padding-top: 25px;
        padding-bottom: 20px;
    }
  }

